.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  margin-top: auto;
  min-width: 448px;
  /* border: 2px solid lime; */
  margin-inline: auto;
  max-width: 100%;
  margin: auto;
  /* margin-bottom: 12px; */
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 710px;
  gap: 22px;
  /* border: 2px solid orange; */
  margin-top: auto;
}

/*@media (max-width: 725px) {
  .card-wrapper {
    overflow-y: scroll; /* Adjust the width for smaller screens */
/*}
} */

.card-arrow {
  width: 38px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.card-arrow:hover {
  background-color: rgba(100, 100, 100, 0.9);
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  gap: 8px;
  height: 220px;
  width: 180px;
  /* border: 2px solid rgb(20, 23, 22); */
  border-radius: 5px;
  background-color: rgb(32, 41, 42, 0.9);
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  padding: 5px;
  border-radius: 5px;
  width: 70px;
  height: 70px;
  /* border-radius: 500px; */
}

#note {
  text-align: center;
}

.skill-icon {
  width: 60px;
}

.cube {
  width: 16px;
}

.cubes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.note {
  font-size: 80%;
}
